.screenCounter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 60vh;
    height: 30vh;
    background-color: darkslategrey;
    border: aqua solid 8px;
    margin: 10px auto;
    font-weight: bold;
}
.screenCounter .counterRed{
    color: red;
    font-size: 100px;

}
.screenCounter .counterDefault{
    color: grey;
    font-size: 100px;
}
.screenCounterButton {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: aqua 8px solid;
    border-radius: 10px;
    width: 60vh;
    height: 10vh;
    background-color: darkslategrey;
    margin: 10px;
}
.textAlarm{
    font-size: 22px;
    color: grey;
}
.errorTextAlarm{
    color: red;
    font-size: 40px;
}