.device{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.counter, .setting{
    background-color: darkslategrey;
    width: 350px;
    border: 8px solid aqua;
    padding: 5px;
    border-radius: 5px;
    margin: 70px;
}