.App {
    text-align: center;
    background-color: cadetblue;
    width: 260px;
    border: 6px solid aqua;
    padding: 5px;
    border-radius: 5px;
    margin: 170px auto auto auto;
}

.counter {
    display: block;
    border-radius: 5px;
    width: 230px;
    background-color: aqua;
    color: grey;
    margin: 5px auto;
    font-weight: bold;
    font-size: 90px;
}

.counterRed {
    display: block;
    border-radius: 5px;
    width: 230px;
    background-color: aqua;
    color: red;
    margin: 5px auto;
    font-weight: bold;
    font-size: 90px;
}

.button {
    border: aqua 4px solid;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    background-color: cadetblue;
    margin: 15px auto;
}

.buttonInc{
    background-color: aqua;
    outline: none;
    color: black;
    font-weight: bold;
    width: 90px;
    margin: 5px;
    border-radius: 5px;
    border-color: aqua;
}

.buttonInc:disabled{
    background-color: grey;
    outline: none;
    color: black;
    font-weight: bold;
    width: 90px;
    margin: 5px;
    border-radius: 5px;
    border-color: grey;
}

.buttonReset {
    background-color: aqua;
    outline: none;
    color: black;
    font-weight: bold;
    width: 90px;
    margin: 5px;
    border-radius: 5px;
    border-color: aqua;
}

.buttonReset:disabled {
    background-color: grey;
    outline: none;
    color: black;
    font-weight: bold;
    width: 90px;
    margin: 5px;
    border-radius: 5px;
    border-color: grey;
}

