.App{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px;
    background-color: darkslategrey;
}

.Counter, .Setting{
    background-color: darkslategrey;
    width: 260px;
    border: 8px solid aqua;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 230px;
    height: 150px;
    background-color: darkslategrey;
    border: aqua solid 8px;
    margin: 5px auto;
    font-weight: bold;
}

.screen .counterRed{
    margin: 0;
    color: red;
    font-size: 100px;

}
.screen .counter{
    margin: 0;
    color: grey;
    font-size: 100px;
}
.screen-input{
    color:aqua;
    font-size: 20px;
}

.button {
    border: aqua 8px solid;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    background-color: darkslategrey;
    margin: 15px auto;
}
.button-common{
    background-color: aqua;
    outline: none;
    color: black;
    font-weight: bold;
    width: 90px;
    margin: 5px;
    border-radius: 5px;
    border-color: aqua;
}
.button-common:disabled {
    background-color: grey;
    border-color: grey;
}

.Input-default {
    outline: none;
    color: grey;
    background: darkslategrey;
    width: 60px;
    font-size: 20px;
    margin-left: 30px;
    border: aqua 2px solid;
    text-align: center;
}
.error-text{
    color: red;
    font-size: 30px;
}
.error-input{
    outline: none;
    color: grey;
    background: rgba(240, 128, 128, 1);
    width: 60px;
    font-size: 20px;
    margin-left: 30px;
    border: red 3px solid;
    text-align: center;
}
.text-alarm{
    font-size: 20px;
}
